@using FilmService_Data

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Stranica iznajmljenih filmova</h2>
</div>

<form action="~/Iznajmljeni/Iznajmljen" method="post">
    <div class="form-group">
        <p>Dodaj Iznajmljen film (Ukoliko zelite i da azurirate, ukucajte naziv filma i popunite polja i film ce biti azuriran) </p>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Naziv filma</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="naziv" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Ime Klijenta</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="ime" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Broj telefona</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="br" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

@if (ViewBag.iznajmljeni != null)
{
    <table class="table">
        <tr>
            <th>
                Naziv filma
            </th>
            <th>
                Ime klijenta
            </th>
            <th>
                Broj klijenta
            </th>
        </tr>

        @foreach (IznajmljeniFilm item in ViewBag.iznajmljeni)
        {
        <tr>
            <td>
                @item.RowKey
            </td>
            <td>
                @item.imeKlijenta
            </td>
            <td>
                @item.brojTelefonaKlijenta
            </td>
            <td>
                <form action="~/Iznajmljeni/DeleteIznajmljen">
                    <input type="submit" value="Izbrisi" />
                    <input type="text" value="@item.RowKey" name="naziv" hidden />
                    <input type="text" value="@item.imeKlijenta" name="ime" hidden />
                    <input type="text" value="@item.brojTelefonaKlijenta" name="br" hidden />
                </form>
            </td>


        </tr>
        }

    </table>
}